<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <img src="wow.jpg" alt="Wow Software" class="card-img-top" />
            <div class="card-body">
                <h2>30 $</h2>
                <p>

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut excepturi amet ipsa harum temporibus?
                    In!
                </p>
            </div>
            <div class="card-footer">
                <form action="/checkout" method="POST">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_CvvwyK5Yn3rlpVKUyrmIEYui00b0LG0jFx" data-amount="3000" data-currency="EUR"
                        data-name="Software Store" data-description="Software VideoGames"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto">
                        </script>
                    <script>
                        document.getElementsByClassName('stripe-button-el')[0].style.display = 'none'
                    </script>
                        <button class="btn btn-dark btn-block">
                                Buy Now! <i class="fa fa-shopping-cart"></i>
                        </button>
                </form>

            </div>
        </div>
    </div>
</div>